<aside class="aside-menu">
    <tabset>
        <tab>
            <ng-template tabHeading>
                <i class="icon-grid"></i>
            </ng-template>
            <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
                <small>
                    <b>Add Product</b>
                </small>
            </div>
            <hr class="transparent mx-3 my-0">
            <div>
                <div class="callout callout-info m-0 py-3">
                </div>
                <hr class="mx-3 my-0">
            </div>
        </tab>
    </tabset>
</aside>